*{
  margin: 0 auto;
}

.todoBackground{
  background-color: #FCB512;
}

.createdBy{
  float: right;
  
}

.center{
 margin: 0 auto;
}

.xd{
  margin: 0 auto;
  padding: 0px;
  align-items: center;
}

.delBoton{
  padding: auto ;
  align-items: center;
  margin-left: 20PX;


}

.divContainer{
  padding: 5px;
}

.borderRadius{
  border-radius: 5px;
}

.flex{
  display: inline-flex;
text-align: start;
align-items: center;
}

.distanciaEntreDiv{
  margin: 5px;
}

.divCheckb{
  height: 60px;
  padding: 15px;
  margin-right: 15PX;
}

.container{
  margin:20px;
}






